---
const { title, duration, description, image, liveUrl, sourceUrl } = Astro.props;
---

<div class="card">
  <!-- <img src={image} alt=""> -->
  <div class="img-placeholder"></div>
  <h3>{duration}</h3>
  <h1>{title}</h1>
  <p>{description}</p>
  <div class="action-buttons">
    <a href={liveUrl} target="_blank">
      <button class="live-demo">Live Demo</button>
    </a>
    <a href={sourceUrl} target="_blank">
      <button>Source Code</button>
    </a>
  </div>
</div>

<style>
  .card {
    display: flex;
    flex-direction: column;
    background-color: rgb(44, 57, 102, 1);
    padding: 25px;
    border-radius: 10px;
  }
  .card:nth-child(1),
  .card:nth-child(3) {
    filter: blur(3px);
  }
  .card:nth-child(1) .img-placeholder,
  .card:nth-child(3) .img-placeholder {
    width: 455px;
    height: 350px;
    /* border: 5px solid red; */
  }
  .card:nth-child(2) {
    position: absolute;
    z-index: 10;
    /* border: 5px solid blue; */
  }
  .img-placeholder {
    /* width: 630px; */
    width: 40rem;
    height: 30rem;
    /* height: 450px; */
    background-color: var(--navbar);
    border-radius: 10px;
  }
  h1 {
    font-size: 48px;
    font-weight: 600;
  }
  h3 {
    font-size: 22px;
    font-weight: 500;
    color: var(--accent);
    margin-top: 32px;
  }
  p {
    font-size: 18px;
    font-weight: 400;
    color: var(--secondary-text);
    margin-top: 15px;
  }
  .action-buttons {
    display: flex;
    justify-content: end;
    gap: 0.75rem;
    margin-top: 2rem;
  }
  .action-buttons button {
    min-width: 10rem;
  }
  .live-demo {
    background-color: transparent;
    border: 2px solid var(--accent);
    color: var(--accent);
  }
</style>
