---
import SectionHeader from "../SectionHeader.astro";
import ProjectCard from "./ProjectCard.astro";
import projectData from "./ProjectData.json";
---

<section id="projects">
  <div class="project-wrapper">
    <SectionHeader title="PROJECTS" headline="WHAT DO I HAVE TO SHOW?" />
    <div class="project-cards">
      {
        projectData.map((project) => (
          <ProjectCard
            title={project.title}
            duration={project.duration}
            description={project.description}
            image={project.image}
            liveUrl={project.liveUrl}
            sourceUrl={project.sourceUrl}
          />
        ))
      }
    </div>
  </div>
</section>

<style>
  .project-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
  }
  .project-cards {
    display: flex;
    gap: 40px;
    width: 100%;
    overflow-x: scroll;
  }
</style>
